* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    margin-top: 10px;
}

body {
    margin: 0;
    background-image: url("/photo/contact-banner.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    font-weight: 200;
    font-size: 20px;
}

.form span {
    color: red;
}

form .subject {
    padding-top: 1em;
    flex: 100%;
}

form .message {
    flex: 100%;
    padding-top: 1em;
}

input[type=text] {
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 100;
}

input[type=submit] {
    background-color: rgb(194, 4, 4);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 10%;
    cursor: pointer;
    float: right;
    width: 200px;
    font-size: 200%;
}

.content {
    border-radius: 25px;
    padding-top: 1%;
    text-align: left;
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%; 
    height: auto;
    padding-bottom: 10px;
}

.content p {
    font-size: 20pt;
    font-weight: 100;
    color: rgb(124, 124, 124);
}

iframe {
    width: 80%;
    margin-left: 10%;
}

.article {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group h2 {
    font-size: 300%;
    font-weight: 600;
    color: red;
}

.group ul {
    color: gray;
    padding-top: 0;
    padding-left: 0;
    font-weight: 200;
}

ul {
    list-style: none;
}

@media only screen and (max-width: 800px) {
    .head{
        height: 300px;
        margin-top: -50px;
        text-align: center;
        color: white;
    }

    .head span {
        font-size: 15px;
        margin-top: 10px;
        padding-top: 30px;
    }

    .head h2 {
        font-weight: 100;
        font-size: 200%;
    }

    .form {
        color: rgb(158, 158, 158);
        font-weight: 100;
        border-radius: 25px;
        padding-top: 1%;
        text-align: left;
        background-color: rgb(255, 255, 255);
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 10%; 
        height: auto;
        padding-bottom: 10px;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .form ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 10%;
    }

    form .name {
        flex: 100%;
    }

    form .email {
        flex: 100%;
    }

    .message > input[type=text]{
        height: 100px;
    }

    .form h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 200%;
    }

    iframe {
        height: 200px;
    }

    .group {
        flex: 100%;
    }

    .group h2{
        font-size: 20pt;
    }
}

@media only screen and (min-width: 800px) {
    .head{
        margin-top: -50px;
        text-align: center;
        background-color: rgb(241,114,114);
        height: 600px;
        color: white;
    }

    .head span {
        font-size: 25px;
        margin-top: 10px;
        padding-top: 30px;
    }

    .head h2 {
        font-weight: 100;
        font-size: 400%;
    }

    .form {
        color: rgb(158, 158, 158);
        font-weight: 100;
        border-radius: 25px;
        padding-top: 1%;
        text-align: left;
        background-color: rgb(255, 255, 255);
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 10%; 
        height: auto;
        padding-bottom: 10px;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .form ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 5%;
    }

    form .name{
        flex: 40%;
        padding-right: 2em;
    }

    form .email{
        flex: 40%;
        padding-left: 2em;
    }

    .message > input[type=text]{
        height: 200px;
    }

    .form h2{
        text-align: center;
        font-weight: bolder;
        font-size: 500%;
    }

    iframe {
        height: 450px;
    }

    .group {
        font-size: 120%;
        flex: 50%;
    }
}
